/*==================
Global Layout
=====================*/

* {
    box-sizing: border-box;
}

/*==================
Basic Selector Layout
=====================*/
body {
    background: #f8f8ff;
}

h1 {
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

hr {
    border: solid 1px #2f5b80;
    margin-bottom: 2em;
}

/*==================
Form Selector Layout
=====================*/

/*==================
Class Layout
=====================*/
.main-header {
    background: linear-gradient(#15735a, #2f5b80);
    text-align: center;
    padding: 1em 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main-nav li {
    margin-bottom: 1em;
}

.top-hr {
    border-top: double;
    background-color: #2f5b80;
    margin-bottom: -5px;
}
/*==================
Pseudo Layout
=====================*/

